{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>

<body class="text-center">
  <main class="form-signin">
    <form action="/login" method="POST">
      <h1 class="h3 mb-3 fw-normal">Please log in</h1>

      <div class="form-floating">
        <input type="username" name="username" class="form-control" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <br>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    </form>
    <a href="{{ url_for('reset_password') }}" class="mt-5 mb-3 text-muted"> Reset Password </a>
  </main>
</body>

{% endblock %}